// Estilos base para aplicar en toda la APP

@use "/src/app/styles/variables" as root;
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem;
    font-family: root.$f-raleway;
    background-color: root.$background-dark-color;
    color: root.$font-light-color;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: root.$font-rose-color;
    cursor: pointer;
}

// h1 {
//     color: root.$font-light-color;
//     font-family: root.$f-jetbrains;
//     font-size: 250%;
//     font-weight: 700;
// }
// h2 {
//     color: root.$font-light-color;
//     font-family: root.$f-raleway;
//     font-size: 180%;
//     font-weight: 700;
// }
// h3 {
//     color: root.$font-medium-color;
//     font-family: root.$f-jetbrains;
//     font-weight: lighter;
// }

// input[type="text"],
// button {
//     //color: #333;
//     font-family: root.$f-raleway;
// }
// button {
//     background-color: #eee;
//     border: none;
//     border-radius: 0px;
//     cursor: pointer;
//     color: black;
//     font-size: 1.2rem;
//     padding: 1rem;
//     margin-right: 1rem;
//     margin-bottom: 1rem;
//     margin-top: 1rem;
// }
// button:hover {
//     background-color: black;
//     color: white;
// }
// button:disabled {
//     background-color: #eee;
//     color: #aaa;
//     cursor: auto;
// }
