<!-- Vista HTML para mostrar un componente tipo card con los datos del personaje. -->
<main class="hero-card-container" FxFlex fxLayout="column">
    <section class="heroes-wrapper" fxLayout="row wrap" fxAlign="center center">
        <div
            class="hero-card"
            FxLayout="column"
            fxFlex="33%"
            fxFlex.lg="25%"
            fxFlex.md="33%"
            fxFlex.sm="50%"
            fxFlex.xs="100%"
            *ngFor="let hero of allHeroes$ | async"
        >
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ hero.name }}</mat-card-title>
                </mat-card-header>

                <span class="img-box">
                    <img
                        class="hero-img"
                        src="{{ hero.thumbnail.path }}.{{
                            hero.thumbnail.extension
                        }}"
                        alt="Image of {{ hero.name }}"
                    />
                </span>

                <mat-card-content>
                    <h2>{{ subt }}</h2>
                    <p>{{ hero.modified }}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button
                        mat-button
                        class="get-button"
                        routerLink="/character/{{ hero.id }}"
                    >
                        {{ button }}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
</main>
