<form>
        <mat-grid-list cols="8" rowHeight="10vh">
            <mat-grid-tile class="search-field" colspan="1">
                <fa-icon
                class="glass-icon"
                [icon]="['fas', 'magnifying-glass']"
                size="2x"
                [transform]="isHovered ? 'grow-3 up-2' : 'grow-0'"
                (mouseenter)="isHovered = true"
                (mouseleave)="isHovered = false"
                (click)="onFilter(searchInput.value)"
                />
            </mat-grid-tile>
            <mat-grid-tile class="search" colspan="6">
                <mat-form-field class="search-field" color="accent">
                    <mat-label>Search your Hero!</mat-label>
                    <input type="text"
                        matInput placeholder="search"
                        value=""
                        [matAutocomplete]="auto"
                        [formControl]="search"

                        (keyup.enter)="onFilter(searchInput.value)"


                        #searchInput
                        />
                    <mat-autocomplete #auto="matAutocomplete"
                    s>
                        <mat-option *ngFor="let name of filteredNames | async" [value]="name">{{name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <ng-container></ng-container>
</form>
<!-- (click)="onFilter(searchInput.value)" -->
<!-- (click)="onFilter(searchInput.value)"
                        (keyup.enter)="onFilter(searchInput.value)" -->
