<!-- Vista HTML para la barra de búsqueda con filtrado de resultados y autocompletado. -->
<form>
    <div class="spinner-box" *ngIf="loading$ | async">
        <mat-spinner
            [diameter]="50"
            [strokeWidth]="6"
            color="accent"
        ></mat-spinner>
        <span class="spinner-text">Loading...</span>
    </div>
    <mat-grid-list cols="8" rowHeight="15vh">
        <mat-grid-tile class="search-field" colspan="1">
            <button mat-icon-button class="search-button">
                <mat-icon color="accent" class="glass-icon">search</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile class="search" colspan="6">
            <mat-form-field class="search-field" color="accent">
                <mat-label>Search your Hero!</mat-label>
                <input
                    type="text"
                    matInput
                    placeholder="search"
                    name="name"
                    [matAutocomplete]="auto"
                    (input)="onSearch($event)"
                />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                        *ngFor="let name of namesOpt$ | async"
                        [value]="name"
                        >{{ name }}</mat-option
                    >
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-container></ng-container>
</form>
