// Imports
@use "/src/app/styles/variables" as root
.spinner-box
    display: flex
    flex-direction: row
    justify-sef: center
    justify-content: center
    align-items: center
    margin: 0 auto
    height: 15vh
    width: 100%

    .spinner
        height: 100%
        width: 100%
        margin-top: 1rem
        font-size: 3rem

    .spinner-text
        font-size: 1.5rem
        font-weight: 500
        margin-left: 1rem
form
    .search-button
        display: inline-flex
        justify-items: center
        align-items: center
        height: 100%
        width: 100%
        .glass-icon
            height: 100%
            width: 100%
            margin-top: 1rem
            font-size: 3rem
    .search
        .search-field
            height: auto
        .mat-mdc-form-field
            width: 100%
