// Imports
@use "/src/app/styles/variables" as root

form
    .glass-icon
        color: root.$font-red-color
        width: 80%
    .search
        .search-field
            height: auto
        .mat-mdc-form-field
            width: 100%
