<main class="main-grid">
    <div class="img-box">
        <header class="section-header">
            <mat-grid-list class="title" cols="2" rowHeight="15vh">
                <mat-grid-tile class="title" colspan="1">
                    <h2 mat-title>{{ title }}</h2>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <h3>{{ subtitle }}</h3>
                </mat-grid-tile>
            </mat-grid-list>
        </header>
    </div>
    <!-- Enlazamos el elemento del componente hijo con el componente padre -->
    <app-search></app-search>

    <!-- Mostamos el resultado con los datos elementales del héroe -->
    <app-hero-card [hero]="hero"></app-hero-card>
</main>
