// Imports
@use "/src/app/styles/variables" as root

.section-header
    background-image: url("/assets/img/banner.jpeg")
    margin-bottom: 3rem

    h2
        color: root.$font-light-color
        font-size: 2.5rem
        font-weight: 600
        margin-bottom: 1rem
        text-shadow: 0 0 0.5rem root.$font-dark-color
    h3
        color: root.$font-light-color
        font-size: 2rem
        font-weight: 600
        margin-bottom: 1rem
        text-shadow: 0 0 0.5rem root.$font-dark-color
