<router-outlet></router-outlet>
<header class="main-header">
    <nav>
        <mat-toolbar class="main-nav">
            <div class="banner">
                <app-banner></app-banner>
            </div>
            <div class="menu">
                <button mat-button routerLinkActive="active">
                    <a routerLink="/home" class="menu-link">Inicio</a>
                </button>
            </div>
            <!-- <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button> -->

            <!-- <a routerLink="/" class="logo">
                <img src="assets/images/logo.png" alt="logo" />
            </a>
            <div class="search">
                <mat-form-field>
                    <input matInput placeholder="Search" />
                </mat-form-field>
            </div>
            <div class="right">
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>mail</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div> -->
        </mat-toolbar>
    </nav>
</header>
